<% layout('/layouts/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Well done! No! I mean ERROR! Yes. <h1 class="alert-heading">ERROR!</h1>
                </h4>
                <p>Aww yeah, you successfully failed to do some stuff. We're actually gonna be nice to you and show you
                    the details beneath this enthusiastic paragraph. Good luck in not ending up here again!</p>
                <hr>
                <p class="mb-0">
                <h4 class="alert-heading" style="overflow-wrap: break-word;">
                    <%=err.message %>
                </h4>

                <!-- <div style="overflow-wrap: break-word;">
                    <%= err.stack %>
                </div> -->


                </p>
            </div>
        </div>
    </div>