:root {
  --main-color: #4caf50;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://res.cloudinary.com/dpxheiyaz/image/upload/v1666696645/Yelpcamp/rrvfk6ips5istwgqbrbv.jpg");
  background-size: cover;
  background-position: center;
  /* box-shadow: inset 0 0 5rem rgba(255, 255, 255, 0.5); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-jost,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.main-color {
  color: var(--main-color);
}
.yelpcamp-logo {
  font-weight: 600;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  aspect-ratio: 1 / 1;
}

#card-img-background {
  height: 150px;
  object-fit: cover;
  opacity: 0.4;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pos-relative-container {
  position: relative;
}

.img-index-container {
  aspect-ratio: 1 / 1;
}

nav {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

/* .padding-div {
  padding-top: 7rem;
} */

main {
  padding-top: 8rem;
  /* height: 100vh -80px;
  margin-top: 80px; */
}

.main-nav {
  background-color: black;
}
