<% layout('/layouts/boilerplate') %>





    <div class="row">
        <h1 class="text-center">Add a new Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validation-required">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Correct format</div>
                    <div class="invalid-feedback">
                        Please enter a name for the Campground.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Correct format</div>
                    <div class="invalid-feedback">
                        Please enter a location for the Campground.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>


                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input type="number" class="form-control" id="price" name="campground[price]"
                            aria-label="price-label" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">Correct format</div>
                        <div class="invalid-feedback">
                            Please enter a price for the Campground, must be 1€ or higher.
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Correct format</div>
                    <div class="invalid-feedback">
                        Please enter an URL for the Campground image.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">Correct format</div>
                    <div class="invalid-feedback">
                        Please enter a desription for the Campground.
                    </div>
                </div>


                <div class="mb-3"><button class="btn btn-success">Add Campground</button></div>

            </form>
            <div><a href="/campgrounds">Back to campgrounds index</a></div>
        </div>

    </div>